.About_main{
    width: 60%;
    margin: 0 auto;
    padding: 0
}
.about_wrapper{
    width: 100%;
    display: flex;
    
}
.about_left{
    flex: 1;
}
.about_right{
    flex: 1;
}

.Aboutimg{
    height: 50vh;
    border-radius: 19px;
    background: #f5f0f0;
    box-shadow: inset 5px -5px 10px #f0f0f0,
                inset -5px 5px 10px #ffffff;
}

.hobbies_list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.about_icons{
    color:  #3498db !important;
    font-weight: bold;
}

@media screen and (max-width: 880px) {
    .About_main{
        width: 90%;
        margin: 0 auto;
        
    }
    .about_wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .about_right{
        flex: 1;
        text-align: center;
    }
    .hobbies_list{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
}