.NavBurger {
  border: none;
}
.sidebar_main{
  display: none;
 
}

.sidebar{
  background:   #283747  ;
}

.side_bar_header{
 display: flex !important;
 margin: 0 auto;
 text-align: justify;
 align-items: center;
}
.close_menu {
  cursor: pointer;
}
.close_menu:hover {
  cursor: pointer;
  color: red;
}

.pc_view{
  display: flex;
  align-items: center;
  margin: 10px auto;
}
.menu_logo{
  flex: 1;
  padding-left: 70px;
}
.menu_Links{
  flex: 1;
  padding-right: 40px;
}

.Pc_links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  transition: 1s all ease-in-out;
}
.Pc_links li:hover{
  color:  #1a5276 ;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid #1a5276;
}
.Logo{
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.Links_nav_mobile{
  padding-bottom: 37px;
}


@media screen and (max-width: 880px) {
  .sidebar_main{
    display: block;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px auto;
  }
  .s_m_left{
    flex: 1;
    text-align: right;
    padding-right:0px;
  }

  .menu_logo_mobile{
    flex: 1;
    text-align: left;
    padding-left: 10px;
  }
  .uk-list{
    text-align: justify;
  }
  .pc_view{
    display: none;
  }
}